# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: '12.x'

    - name: Install all packages
      run: npm install

    - name: Run ESLint
      run: npm run lint --if-present

    - name: Build library
      run: npm run build:dist --if-present
    - name: Archive library artifacts
      uses: actions/upload-artifact@v2
      with:
        name: dist-without-markdown
        path: dist

    - name: Build demo
      run: npm run build:demo --if-present
    - name: Archive demo artifacts
      uses: actions/upload-artifact@v2
      with:
        name: demo-without-markdown
        path: demo

    - name: Build styleguide
      run: npm run styleguidist:build --if-present
    - name: Archive styleguide artifacts
      uses: actions/upload-artifact@v2
      with:
        name: docs-without-markdown
        path: docs
